# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\vng59\Desktop\Problem Solving\201212_Integer-Triangle_CWY\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/